*.pdf
a-first-numeric-program
assert
age
argc-argv_test 
cpp-vectors
collatz
exponential-taylor
function-overload
formatting
input
io-errors
io-fix
matrix-market
nonnarrowing
output
primes
shared_pointer
streams
ulitmate_answer
unique_pointer
Makefile
2.Classes/complex-class
2.Classes/constructors
2.Classes/member-functions
2.Classes/Makefile
my-solutions/polynomials
my-solutions/matrixmarket
my-solutions/Makefile
3.Generic-Programming/function-template
3.Generic-Programming/template-type-deduction
